body {
    margin:0;
}
header {
    background: 
    linear-gradient(
        rgba(68, 68, 68, 0.45), 
        rgba(255, 0, 0, 0.45)
        ),
        url(https://images.unsplash.com/photo-1544367318-fb6a72b90605?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    height: 100%;
    width: 100%;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.45)
}
.link {
    margin-right: 20px;
    font-size: 18;
    color: whitesmoke;
    padding: 15px;
    font-family: 'Abel', sans-serif;

}
h1 {
    color: whitesmoke;
    text-align: center;
    margin-top: 20%;
    font-family: 'Amatic SC', cursive;
    font-size: 36;
}
.headertext {
    color: whitesmoke;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 18;

}
main {
    background-color: white;
    height: 400px;
}

h2 {
    color: rgb(0, 0, 0);
    text-align: center;

}

footer {
    background-color: blue;
    height: 100px;
}