body {
    margin:0;
}

header {
    background: 
    linear-gradient(
        rgba(68, 68, 68, 0.45), 
        rgba(255, 0, 0, 0.45)
        ),
        url(https://images.unsplash.com/photo-1544367318-fb6a72b90605?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    height: 100%;
    width: 100%;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.45)
}
.link {
    margin-right: 20px;
    font-size: 18;
    color: whitesmoke;
    padding: 15px;
    font-family: 'Abel', sans-serif;

}
h1 {
    color: whitesmoke;
    text-align: center;
    margin-top: 20%;
    font-family: 'Amatic SC', cursive;
    font-size: 36;
}
.headertext {
    color: whitesmoke;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 18;

}
main {
    background-color: white;
    height: 800px;
}
.mid{
    padding: 1vw;
    margin: 0 auto;
    background: whitesmoke;
    border-radius: 10px;
    width: 1300px;
    height: 800px;
    -webkit-box-shadow: 0 0 8px rgba(255, 100, 100, 0.8);
    -moz-box-shadow: 

}
.tablemain {
    float: left;
    width: 33.33%;
    content: "";
    display: table;
    clear: both;
    width: 100%;
    text-align: center;

    font-family: 'Cinzel', serif;
    
}
.circular {
	width: 275px;
	height: 275px;
    border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	background: url(https://www.wykop.pl/cdn/c3201142/comment_5NHTnCTzYKFlD6wZJCvktniv4yNnZF08,w400.jpg) no-repeat;
	box-shadow: 0 0 8px rgba(255, 100, 100, 0.8);
	-webkit-box-shadow: 0 0 8px rgba(255, 100, 100, 0.8);
	-moz-box-shadow: 0 0 8px rgba(255, 100, 100, 0.8);
    margin: 0 auto;

}


h2 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Old Standard TT', serif;
}
    
.masnoni {
    text-align: center;
    color: whitesmoke;
    font-family: 'Poiret One', cursive;
    font-size: 14px;
}  

footer {
    background-color: rgba(255, 28, 28, 0.884);
    padding: 20px;
}